<template>
    <section class="contact-page">
        <div class="container">
            <alert-message v-if="message !== ''" :message="message" class="alert-message"></alert-message>
            <div class="row">
                <div class="col col-lg-2 col-md-3 form-group">
                    <p>&nbsp;</p>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="mr" name="mr-ms" value="mr" class="custom-control-input" v-model="formData.gender.value">
                        <label class="custom-control-label" for="mr">Mr</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="ms" name="mr-ms" value="ms" class="custom-control-input" v-model="formData.gender.value">
                        <label class="custom-control-label" for="ms">Ms</label>
                    </div>
                </div>

                <div class="col form-group">
                    <label for="first-name">First name</label>
                    <input type="text" id="first-name" :class="{'is-invalid': isInvalid('firstName')}" class="form-control" :placeholder="mrMs" v-model="formData.firstName.value">
                </div>

                <div class="col form-group">
                    <label for="last-name">Last name</label>
                    <input type="text" id="last-name" :class="{'is-invalid': isInvalid('lastName')}" class="form-control" placeholder="Doe" v-model="formData.lastName.value">
                </div>
            </div>
            <!--<div class="flex-fix">
                <div class="col col-lg-2 col-md-3 form-group">
                    <div class="col form-group">
                        Departure Date
                        <input type="date" class="form-control" placeholder="dd-mm-jjjj">
                    </div>
                    <div class="col form-group">
                        Return Date
                        <input type="date" class="form-control" placeholder="dd-mm-jjjj">
                    </div>
                    <div class="col form-group">
                        Rooms
                        <select class="form-control">
                            <option>1 Room</option>
                            <option>2 Room</option>
                            <option>3 Room</option>
                            <option>4 Room</option>
                        </select>
                    </div>
                </div>
            </div>-->

            <div class="flex-fix">
                <div class="col form-group">
                    Departure Date
                    <input type="date" class="form-control" placeholder="dd-mm-jjjj">
                </div>
                <div class="col form-group">
                    Return Date
                    <input type="date" class="form-control" placeholder="dd-mm-jjjj">
                </div>
                <div class="col form-group">
                    Rooms
                    <select class="form-control">
                        <option>1 Room</option>
                        <option>2 Room</option>
                        <option>3 Room</option>
                        <option>4 Room</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr>
                    <button class="btn btn-primary float-right" @click="send()">
                        <span>Pick A Room</span>
                    </button>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import AlertMessage from '@/components/AlertMessage';

    export default {
        name: 'SelectDate',
        components: {
            AlertMessage,
        },
        mounted() {
            console.log(this.$route.params);
        },
        data(){
            return{
                formData:{
                    gender:{
                        value: 'mr',
                        error: '',
                    },
                    firstName:{
                        value: '',
                        error: '',
                    },
                    lastName:{
                        value: '',
                        error: '',
                    },
                    Subject:{
                        value: '',
                        error: '',
                    },
                    Message:{
                        value: '',
                        error: '',
                    },
                },
                foundErrorIn: [],
                message: '',
            }
        },

        computed:{
            mrMs(){
                return this.formData.gender.value === 'mr' ? 'John' : 'Jane';
            }
        },

        methods:{
            send(){
                this.message = '';

                const fields = Object.keys(this.formData);

                this.foundErrorIn = [];

                fields.forEach((field) => {
                    this.isEmpty(field);

                    if (this.formData[field].error !== '') {
                        this.foundErrorIn.push(field);
                    }
                })

                if (this.foundErrorIn.length > 0){
                    this.message = 'Oh No! Errors';
                }
            },

            isInvalid(field){
                return this.foundErrorIn.includes(field);
            },

            isEmpty(field){
                this.formData[field].error = '';

                if (this.formData[field].value.trim() === '') {
                    this.formData[field].error = 'Oh No! It\'s empty';
                }
            }
        }
    }
</script>

<style>
    .flex-fix {
        display: flex;
        flex-direction: row;
    }
    *{
        margin: 0;
        padding: 0;
    }

    .step{
        width: 50rem;
        margin: 5rem auto;
        display: flex;
    }

    .step__item{
        flex-basis: 0;
        flex-grow: 1;
        padding: 0.5rem 1rem;
        display: flex;
    }

    .step__item i{
        width: 3rem;
        height: 3rem;
        background: #bababa;
        border-radius: 9999px;
        flex-shrink: 0;
        margin-right: 1rem;
        line-height: 3rem;
        text-align: center;
        font-size: 1.2rem;
    }

    .step__item span{
        line-height: 3rem;
    }
</style>