<template>
	<div class="container">
		<h2><b>Explore Our Hotels</b></h2>
		<h3 style="color: red;"><b>Find the hotel that suits you best!</b></h3><br>
		<input type="text" v-model="searchString">
		<hotel-item v-for="(hotel, key) in filteredHotels" :hotel="hotel" :key="key"></hotel-item>	
	</div>
</template>

<script>
	import HotelItem from '@/components/HotelItem';
	import Hotel from '@/models/Hotel';
	import axios from 'axios';

	export default{
		name: 'Explore',

		components:{
			HotelItem
		},

		data() {
			return {
				searchString: '',
				hotels: [],
			};
		},

		computed:{
			filteredHotels(){
				this.hotel = '';
				return this.hotels.filter((hotel) =>{
					return hotel.name.toLowerCase().includes(this.searchString.trim().toLowerCase());
				});
			},
		},

		mounted(){
			axios.get('data/data.json').then((response) => {
			this.hotels = response.data.map(Hotel.fromJSON);
			console.log(response);
			}).catch((err) =>{
				console.log(err);
			});
		}
	}
</script>

<style>
	
	#search{
		text-align: center;
		border-radius: 5px;
		border: 1px solid #2d4075;
		outline: none;
	}

</style>