<template>
	<div>
		<span v-text="message"></span>
	</div>
</template>

<script>
	export default{
		name: 'AlertMessage',
		props: {
			message:{
				type: String,
				required: true,
			}
		},
	}
</script>

<style>
	.alert-message{
		background-color: #000000;
		border-radius: 30px;
		font-family: serif;
		font-size: 20px;
		color: #FF0000;
	}
</style>