<template>
  <div class="container">
        <br>
      <div class="row">
 
        <div class="paragraphs">
          <img style="float:left" src="../assets/Hotel.jpg" width="450" height="326"/>
          <h3><b>{{hotel.name}}</b><span class="fa fa-star" style="padding-left:120px"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></h3>
          <p class="text-muted"><q class="fa fa-location-arrow" style="font-size:20px"></q> {{hotel.address}}</p>
          <p class="text-muted" style="font-style:italic;font-size:14px">{{hotel.description}}</p>
                    <br>
          <i class="fa fa-coffee" style="font-size:24px"></i>
          <i class="fa fa-cutlery" style="font-size:24px"></i>
          <i class="fa fa-wifi" style="font-size:24px"></i>
          <i class="fa fa-book" style="font-size:24px"></i>
          <br><br>
          <h4><b>Let's book a room!</b></h4>
          <p class="text-muted">Hotel rooms starting at €79-, per night</p>
          <router-link :to="{name: 'book', params: { id: hotel.id }}" tag="button" class="btn btn-danger">Book this Hotel <i class="fa fa-angle-right"></i></router-link>
        </div>
    </div>
  </div>
</template>
<script>
	export default{
		name:'HotelItem',
		props:{
			hotel:{
				type: Object,
				required: true,
			}
		},

		data(){
			return{};
		},


	}
</script>

<style>
.paragraphs{
  background-color: white;
  border-radius: 5px;
    width: 100%;
  padding: 40px 0px 40px 0px;
    border: 1px solid #2d4075;
}
 
img{
  border-radius: 5px;
  margin-left: 30px;
  margin-right: 40px;
}
 
 
i{
 background-color: lightgray;
 border-radius: 50%;
 border: 1x solid grey;
 padding:10px;
}
 
.fa-star{
  font-size: 18px;
}
 
.btn-danger{
    font-size: 15px;
}
 
r {
    font-family: bold;
    font-size: 10px;
}
 
</style>